Repository jgeysen/relevance: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, pytest, pytest-cov

isort:
  name: isort
  language: system
  entry: pipenv run isort

black:
  name: black
  language: system
  entry: pipenv run black

flake8:
  name: flake8
  language: system
  entry: pipenv run flake8
  additional_dependencies:
  - flake8-blind-except
  - flake8-commas
  - flake8-comprehensions
  - flake8-deprecated
  - flake8-docstrings
  - flake8-meiqia
  - flake8-mutable
  - flake8-pep3101
  - flake8-quotes
  - flake8-string-format
  - flake8-tidy-imports

mypy:
  name: mypy
  language: system
  entry: pipenv run mypy
  require_serial: true

pytest:
  name: pytest
  language: system
  entry: pipenv run pytest
  pass_filenames: false

pytest-cov:
  name: pytest coverage
  stages:
  - push
  language: system
  entry: pipenv run pytest --cov --cov-fail-under=100 --cov-report term-missing:skip-covered
  pass_filenames: false

initial commit
  scripts/init.sh
Due: none

adding cleaning module and removal of reuters lingo function
  docs/autoapi/index.rst
  docs/autoapi/relevance/__main__/index.rst
  docs/autoapi/relevance/index.rst
  docs/autoapi/relevance/relevance/index.rst
  relevance/text_cleaning.py
  tests/test_text_cleaning.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

testing \[
  Pipfile.lock
  docs/autoapi/relevance/index.rst
  docs/autoapi/relevance/relevance/Pipfile
  docs/autoapi/relevance/text_cleaning/index.rst
  relevance/text_cleaning.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

adding the complete text_cleaning function
  relevance/text_cleaning.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

add spacing function
  Pipfile.lock
  docs/autoapi/relevance/text_cleaning/index.rst
  relevance/text_cleaning.py
  tests/test_text_cleaning.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

add remove_spacing function
  docs/autoapi/relevance/text_cleaning/index.rst
  relevance/text_cleaning.py
  tests/test_text_cleaning.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

add table removal functionality to the sentence splitting module
  Pipfile
  Pipfile.lock
  docs/autoapi/relevance/text_cleaning/index.rst
  relevance/sentence_splitting.py
  relevance/text_cleaning.py
  tests/test_sentence_splitting.py
  tests/test_text_cleaning.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

add table removal functionality to the sentence splitting module
  Pipfile.lock
  setup.py
Due: isort, black, mypy, pytest, pytest-cov

add parse_short_sentences functionality
  docs/autoapi/relevance/index.rst
  docs/autoapi/relevance/sentence_splitting/index.rst
  docs/autoapi/relevance/text_cleaning/index.rst
  relevance/sentence_splitting.py
  tests/test_sentence_splitting.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

add parse_short_sentences functionality
  relevance/sentence_splitting.py
  tests/test_sentence_splitting.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

add parse_short_sentences functionality
  Pipfile.lock
  tests/test_sentence_splitting.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

installing numpy
  Pipfile
  Pipfile.lock
Due: none

installing numpy
  Pipfile.lock
  setup.py
Due: isort, black, mypy, pytest, pytest-cov

add sentence splitting functionality
  relevance/sentence_splitting.py
  tests/test_sentence_splitting.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

add sentence splitting functionality
  Pipfile.lock
Due: none

add select_actual_sentences functionality
  Pipfile
  Pipfile.lock
  relevance/feature_engineering.py
  relevance/sentence_splitting.py
  tests/test_sentence_splitting.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

add select_actual_sentences functionality
  relevance/sentence_splitting.py
  tests/test_sentence_splitting.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

add select_actual_sentences functionality
  Pipfile.lock
  setup.py
Due: isort, black, mypy, pytest, pytest-cov

add select_actual_sentences functionality
  Pipfile.lock
Due: none

add spacy_processing functionality
  relevance/sentence_splitting.py
  tests/test_sentence_splitting.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

add spacy_processing functionality
  Pipfile
Due: none

add select_actual_sentence functionality
  Pipfile
  relevance/sentence_splitting.py
  tests/test_sentence_splitting.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

add select_actual_sentence functionality
  Pipfile.lock
Due: none

add regex preprocessing for feature engineering
  relevance/feature_engineering.py
  tests/test_feature_engineering.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

add regex preprocessing for feature engineering
  Pipfile.lock
  tests/test_feature_engineering.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

change outputs of regex preprocessing in feature engineering
  relevance/feature_engineering.py
  tests/test_feature_engineering.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

add create feature functionality in the feature engineering module
  docs/autoapi/relevance/feature_engineering/index.rst
  docs/autoapi/relevance/index.rst
  docs/autoapi/relevance/sentence_splitting/index.rst
  relevance/feature_engineering.py
  relevance/sentence_splitting.py
  tests/test_feature_engineering.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

add create feature functionality in the feature engineering module
  Pipfile.lock
Due: none

reformatting of comments
  docs/autoapi/relevance/feature_engineering/index.rst
  relevance/feature_engineering.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

add wrapper function to create features
  relevance/feature_engineering.py
  tests/test_feature_engineering.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

add wrapper function to create features when target is given
  relevance/feature_engineering.py
  tests/test_feature_engineering.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

combine create_feature functionalities
  relevance/feature_engineering.py
  tests/test_feature_engineering.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

removing unnecessary functionality
  relevance/feature_engineering.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

renaiming feature functions'
  relevance/feature_engineering.py
  tests/test_feature_engineering.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

renaiming feature functions'
  Pipfile.lock
Due: none

renaiming feature functions'
  relevance/feature_engineering.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

add nltk_processing functionality to sentence splitting module
  Pipfile.lock
  relevance/sentence_splitting.py
  tests/test_sentence_splitting.py
Due: isort, black, flake8, mypy, pytest, pytest-cov

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$, but not: setup.py
  mypy: any of: \.py$
  pytest: any of: \.py$
  pytest-cov: any of: \.py$
